In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
%matplotlib inline

In [40]:
aapl = yf.Ticker('AAPL')

In [21]:
days = 20
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-26,134.601376,134.830982,133.333525,134.491562,66905100,0.00,0
2021-04-27,134.781053,135.180384,133.882585,134.162109,66015800,0.00,0
2021-04-28,134.082243,134.791046,132.854333,133.353485,107760100,0.00,0
2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.00,0
2021-04-30,131.556541,133.333521,130.847753,131.237091,109713200,0.00,0
2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0
2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0
2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0
2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0
2021-05-07,130.850006,131.259995,129.479996,130.210007,78892700,0.22,0
2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0
2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0
2021-05-12,123.400002,124.639999,122.250000,122.769997,112172300,0.00,0
2021-05-13,124.580002,126.150002,124.260002,124.970001,105861300,0.00,0
2021-05-14,126.250000,127.889999,125.849998,127.449997,81806500,0.00,0
2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0.00,0
2021-05-18,126.559998,126.989998,124.779999,124.849998,63342900,0.00,0
2021-05-19,123.160004,124.919998,122.860001,124.690002,92612000,0.00,0
2021-05-20,125.230003,127.720001,125.099998,127.309998,76857100,0.00,0
2021-05-21,127.820000,128.000000,125.209999,125.430000,79209300,0.00,0

In [41]:
hist.reset_index()

             Date       apple
0   26 April 2021  134.491562
1   27 April 2021  134.162109
2   28 April 2021  133.353485
3   29 April 2021  133.253662
4   30 April 2021  131.237091
5     03 May 2021  132.315247
6     04 May 2021  127.633202
7     05 May 2021  127.882790
8     06 May 2021  129.520004
9     07 May 2021  130.210007
10    10 May 2021  126.849998
11    11 May 2021  125.910004
12    12 May 2021  122.769997
13    13 May 2021  124.970001
14    14 May 2021  127.449997
15    17 May 2021  126.269997
16    18 May 2021  124.849998
17    19 May 2021  124.690002
18    20 May 2021  127.309998
19    21 May 2021  125.430000

In [42]:
hist.head(3)

                    apple
Date
26 April 2021  134.491562
27 April 2021  134.162109
28 April 2021  133.353485

In [37]:
hist.index = hist.index.strftime('%d %B %Y')

AttributeError: 'Index' object has no attribute 'strftime'

In [34]:
hist

                    apple
Date
26 April 2021  134.491562
27 April 2021  134.162109
28 April 2021  133.353485
29 April 2021  133.253662
30 April 2021  131.237091
03 May 2021    132.315247
04 May 2021    127.633202
05 May 2021    127.882790
06 May 2021    129.520004
07 May 2021    130.210007
10 May 2021    126.849998
11 May 2021    125.910004
12 May 2021    122.769997
13 May 2021    124.970001
14 May 2021    127.449997
17 May 2021    126.269997
18 May 2021    124.849998
19 May 2021    124.690002
20 May 2021    127.309998
21 May 2021    125.430000

In [59]:
hist = hist.T
hist.index.name ='Name'

In [61]:
hist

Name,26 April 2021,27 April 2021,28 April 2021,29 April 2021,30 April 2021,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,134.491562,134.162109,133.353485,133.253662,131.237091,132.315247,127.633202,127.88279,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.43